
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="appAdmin">
    <orders-component></orders-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/admin.js")"></script>
}