@model IEnumerable<BeardShop.Models.Product>
@{
    ViewData["Title"] = "Список товаров";
}

<h3>Товары</h3>
<table>
    <tr>
        <td>Код</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Категория</td>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Code</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Category</td>
            <td><a href="~/Home/Buy/@product.Id">Купить</a></td>
        </tr>
    }
</table>    
